{#
/**
* @file
* Display Dismissable Alert Banner.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
  'clear-both',
] %}
<div{{ attributes.addClass(classes) }}>
	<div class="alert-banner-inner" role="alert">
		<div id="alert-banner-content" class="alert-banner-content">
			<h5 class="alert-banner-title">
				{{ content.banner_title }}
			</h5>
			<p>{{ content.banner_body}}</p>

			<div class="alert-banner-popup-button">
				<a class="button" data-dismiss="banner"zhref="{{ content.dismiss_alert_button.button_link }}">{{ content.dismiss_alert_button.button_label }}</a>
			</div>
		</div>
		<button type="button" class="close alert-banner-popup-close"  aria-label="Close" href="#">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>
